<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Catégorie : {{ categorie.libelle}}</h1>
    <p>Description : {{ categorie.description }}</p>

    <h2>Prestations de cette catégorie :</h2>
    <ul>
        <div class="menu menuCategorie">
        {% for p in categorie.prestations %}
            <a href="{{ routeParser.urlFor('prestation') ~ '?id=' ~ p.id }}"> ID : {{ p.id }} / {{ p.libelle }} – {{ p.tarif }} €</a>
        {% endfor %}
        </div>
    </ul>
    <div class="menuRetour">
        <a href="{{ routeParser.urlFor('categories') }}">← Retour à la liste des catégories</a>
    </div>

</body>
</html>