<link rel="stylesheet" href="/style.css">

{% block content %}
    <h1>Coffret : {{ coffret.libelle }}</h1>
    <p>{{ coffret.description }}</p>

    <h2>Prestations incluses :</h2>
    <ul>
        <div class="menu menuCategorie">
        {% for p in coffret.prestations %}
            <a href="{{ routeParser.urlFor('prestation') ~ '?id=' ~ p.id }}">{{ p.libelle }} - {{ p.tarif }} €</a>
        {% endfor %}
        </div>
    </ul>

    <div class="menuRetour">
        <a href="{{ routeParser.urlFor('coffrets') }}">← Retour à la liste des coffrets</a>
    </div>
{% endblock %}
